/* On mouse hover, lighten state color */
path:hover {
	fill-opacity: .7;
}

/* Style for Custom Tooltip */
div.tooltip {   
 	position: absolute;           
	text-align: center;           
	width: 175px;                  
	height: 50px;                 
	padding: 2px;             
	font: 12px sans-serif;        
	background: white;   
	border: 0px;      
	border-radius: 8px;           
	pointer-events: none;         
}

#nav-placeholder {
	display: block;
	height: 20px;
}
        
/* Legend Font Style */
body {
	padding-top: 100px;
	font: 11px sans-serif;
}
        
section {
	display: none;
 }
 section:target {
	display: block;
 }
 
/* Legend Position Style */
.legend {
	position:absolute;
	left:800px;
	top:350px;
}