/* On mouse hover, lighten state color */
path:hover {
	fill-opacity: .7;
}

/* Style for Custom Tooltip */
div.tooltip {   
 	position: absolute;           
	text-align: center;           
	width: 175px;                  
	height: 60px;                 
	padding: 2px;             
	font: 12px sans-serif;        
	background: white;   
	border: 0px;      
	border-radius: 8px;           
	pointer-events: none;         
}

#nav-placeholder {
	display: block;
	height: 20px;
}


.line {
	stroke: steelblue;
	stroke-width: 2.5px;
 }
        
/* Legend Font Style */
body {
	padding-left: 20px;
	padding-top: 30px;
	font: 11px sans-serif;
}

#chart2 svg g {
	margin-left: 300px;
}
        
section {
	display: none;
 }
 section:target {
	display: block;
 }
 
/* Legend Position Style */
.legend {
	position:absolute;
	right:80px;
	top:350px;
}

/* Annotations */
.annotation-subject path.subject {
	fill: none;
}